{% extends 'base.html' %}

{% block title %}Contactos{% endblock %}

{% load static %}
{% block content %}
<div class='container-fluid'>
    <br>
    <div class="d-flex justify-content-end">
        <a class="btn text-white fw-semibold my-button-color" href="{% url 'export-contacts' %}">
            <img style="width: 20px; height: 20px;" src="{% static 'img/excel.png' %}">
            <pe class="ps-2">Exportar Contactos</pe>
        </a>
    </div>
    <div>
        <br>
        <form method="GET" action="{% url 'contacts' %}" autocomplete="off">
            <div>
                <input class="pb-1" type="text" name="code" placeholder="Buscar por código">
                <input class="pb-1" type="text" name="name" placeholder="Buscar por nombre">
                <input class="pb-1" type="text" name="status" placeholder="Buscar por estatus">
                <input class="pb-1" type="text" name="admission_cycle" placeholder="Buscar por admisión">
                <input class="pb-1" type="text" name="last_cycle" placeholder="Buscar por ultimo ciclo">
                <button class="btn text-white fw-semibold my-button-color" type="submit">Buscar</button>
            </div>
        </form>
        
        <table class="table table-striped">
            <thead>
                <th class="my-table-header">Código</th>
                <th class="my-table-header">Nombre</th>
                <th class="my-table-header">Primer Apellido</th>
                <th class="my-table-header">Segundo Apellido</th>
                <th class="my-table-header">Estatus</th>
                <th class="my-table-header">Admisión</th>
                <th class="my-table-header">Ultimo Ciclo</th>
                <th class="my-table-header">Carrera</th>
                <th class="my-table-header"></th>
                <th class="my-table-header"></th>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{ student.code }}</td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.first_last_name }}</td>
                        <td>{{ student.second_last_name }}</td>
                        <td>{{ student.status }}</td>
                        <td>{{ student.admission_cycle }} </td>
                        <td>{{ student.last_cycle }} </td>
                        <td>{{ student.idCareer }} </td>
                        <td><a class="btn text-white fw-semibold my-button-color" href="{% url 'show-contact' student.idStudent %}">Ver Contacto</a></td>
                        <td><a class="btn text-white fw-semibold my-button-color" href="{% url 'contact-form' student.idStudent %}">Crear/Actualizar Contacto</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}