{% extends 'base.html' %}

{% block title %}Ver Contacto{% endblock %}

{% load static %}
{% block content %}
    <div class="container pt-3 my-container-config">
        <div class="row">
            <div class="border border-black text-center">
                <h2 class="pb-4 pt-1 fs-3">Contacto de: {{ student.name }} {{ student.first_last_name }} {{ student.second_last_name }}</h2> 
                <table class="mx-auto text-end pb-2">
                    <tr>
                        <th class="pb-4 fs-4">Teléfono</th>
                        <td class="pb-4  ps-4">{{ contact.phone }}</td>
                    </tr>
                    <tr>
                        <th class="pb-4 fs-4">Correo Electronico</th>
                        <td class="pb-4  ps-4">{{ contact.email }}</td>
                    </tr>
                    <tr>
                        <th class="pb-4 fs-4">Correo de UDG</th>
                        <td class="pb-4 ps-4">{{ contact.udg_email }}</td>
                    </tr>
                    <tr>
                        <th class="pb-4 fs-4">Teléfono de Emergencia</th>
                        <td class="pb-4 ps-4">{{ contact.emergency_phone }}</td>
                    </tr>
                    <tr>
                        <th class="pb-4 fs-4">Red social</th>
                        <td class="pb-4  ps-4">
                            {% if contact.url_socialnet %}
                                <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ contact.url_socialnet }}">{{ contact.url_socialnet }}</a>
                            {% else %}
                                No disponible
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="pb-4 fs-4">Empresa donde trabaja</th>
                        <td class="pb-4  ps-4">
                            {% if contact.company %}
                                {{ contact.company }}
                            {% else %}
                                No disponible
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="pb-4 fs-4">Posición</th>
                        <td class="pb-4  ps-4">
                            {% if contact.position %}
                                {{ contact.position }}
                            {% else %}
                                No disponible
                            {% endif %}
                        </td>
                    </tr>
                </table>

                <div class="text-center pt-2 pb-3">
                    <a class="btn text-white fw-semibold my-button-color" href="{% url 'contacts' %}">Regresar a los contactos</a>
                    <a class="btn text-white fw-semibold my-button-color" href="{% url 'export-student-contact' idStudent=student.idStudent %}">
                        <img style="width: 20px; height: 20px;" src="{% static 'img/excel.png' %}">
                        <pe class="ps-2">Exportar Contacto</pe>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}