{% extends 'base.html' %}

{% block title %}Ver Contacto{% endblock %}

{% block content %}
    <div>
        <h2>Contacto de {{ student.name }} {{ student.first_last_name }} {{ student.second_last_name }}</h2>
        <table>
            <tr>
                <th>Teléfono</th>
                <td>{{ contact.phone }}</td>
            </tr>
            <tr>
                <th>Correo Electronico</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>Correo de UDG</th>
                <td>{{ contact.udg_email }}</td>
            </tr>
            <tr>
                <th>Teléfono de Emergencia</th>
                <td>{{ contact.emergency_phone }}</td>
            </tr>
            <tr>
                <th>Red social</th>
                <td>
                    {% if contact.url_socialnet %}
                        <a href="{{ contact.url_socialnet }}">{{ contact.url_socialnet }}</a>
                    {% else %}
                        No disponible
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Compañia donde trabaja</th>
                <td>
                    {% if contact.company %}
                        {{ contact.company }}
                    {% else %}
                        No disponible
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Posición</th>
                <td>
                    {% if contact.position %}
                        {{ contact.position }}
                    {% else %}
                        No disponible
                    {% endif %}
                </td>
            </tr>
        </table>
        <a href="{% url 'contacts' %}">Regresar a los contactos</a>
        <a href="{% url 'export-student-contact' idStudent=student.idStudent %}"  class="btn btn-primary">Exportar Contacto</a>
    </div>
{% endblock %}