<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>{% block title %}Título Predeterminado{% endblock %}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="nav-link" href="/">Inicio</a>
            <a class="nav-link" href="{% url 'contacts' %}">Consultar Contactos</a>
            <a class="nav-link" href="{% url 'history-search-page' %}">Consultar Historial de Estudiante</a>
            <a class="nav-link" href=#>Estadísticas de Alumnos</a>
            <a class="nav-link" href=#>Indice de reprobados por materia</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>