{% extends 'base.html' %}

{% block title %}Generación {{ cycle }} {% endblock %}

{% block content %}
    <h2>Generación {{ cycle }}</h2>

    <table>
        <thead>
            <th>Generación</th>
            <th>Semestres</th>
            <th>No. Alumnos</th>
            <th>No. Alumnos que pertenecen</th>
            <th>%</th>
            <th>No. Egresados</th>
            <th>%</th>
            <th>No. Titulados</th>
            <th>%</th>
            <th>No. Bajas por Articulo 33</th>
            <th>No. Bajas por Articulo 35</th>
        </thead>
        <tbody>
            <tr>
                <td> {{ cycle }} </td>
                <td> {{ semesters }} </td>
                <td> {{ no_students }} </td>
                <td> ¿Como calculo un alumno siguiendo la malla? </td>
                <td> Nothing </td>
                <td> {{ no_finished_students }} </td>
                <td> {{ finish_percent }}% </td>
                <td> {{ no_graduated }} </td>
                <td> {{ graduated_percent }}% </td>
                <td> {{ no_art33 }} </td>
                <td> {{ no_art35 }} </td>
            </tr>
        </tbody>
    </table>

    <br><br>

    <form method="GET" action="{% url 'show-statistics' cycle.idCycle %}">
        <input type="text" name="status" placeholder="Buscar por estatus">
        <input type="text" name="last_cycle" placeholder="Buscar por ultimo ciclo">
    
        <button type="submit">Buscar</button>
    </form>

    <table>
        <thead>
            <th>id</th>
            <th>Código</th>
            <th>Nombre</th>
            <th>Estatus</th>
            <th>Admisión</th>
            <th>Ultimo Ciclo</th>
            <th>Semestres</th>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.idStudent }}</td>
                    <td>{{ student.code }}</td>
                    <td>{{ student.name }} {{ student.first_last_name }} {{ student.second_last_name }}</td>
                    <td>{{ student.status.status }}</td>
                    <td>{{ student.admission_cycle }} </td>
                    <td>{{ student.last_cycle }} </td>
                    <td> {{ semesters_list|slice:forloop.counter|last }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}