{% extends 'base.html' %}

{% block title %}Por Rango de Ciclos{% endblock %}

{% load static %}
{% block content %}
    <div class="container-fluid">
        <br>
        <div class="d-flex justify-content-end">
            <a class="btn text-white fw-semibold my-button-color" href={% url 'export-by-cycle-range-page' %}>
                <img style="width: 20px; height: 20px;" src="{% static 'img/excel.png' %}">
                <pe class="ps-2">Exportar</pe>
            </a>
        </div>

        <h1 class="pt-0 pb-2 fs-2 text-color">Por Rango de Ciclos</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="my-table-header">Clave</th>
                    <th class="my-table-header">Materia</th>
                    <th class="my-table-header">Total de Alumnos</th>
                    <th class="my-table-header">Total de Alumnos Reprobados</th>
                    <th class="my-table-header">Porcentaje de Alumnos Reprobados</th>
                </tr>
            </thead>
            <tbody>
            {% for register in registers %}
                <tr>
                    <td>{{ register.key_subject }}</td>
                    <td>{{ register.subject }}</td>
                    <td>{{ register.total_students }}</td>
                    <td>{{ register.failed_students }}</td>
                    <td>{{ register.failed_rate }}%</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}