{% extends 'base.html' %}

{% block title %}Por Rango de Ciclos{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1 class="pt-3 pb-2 fs-2 text-color">Por Rango de Ciclos</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="my-table-header">Clave</th>
                    <th class="my-table-header">Materia</th>
                    <th class="my-table-header">Total de Alumnos</th>
                    <th class="my-table-header">Total de Alumnos Reprobados</th>
                    <th class="my-table-header">Porcentaje de Alumnos Reprobados</th>
                </tr>
            </thead>
            <tbody>
            {% for register in registers %}
                <tr>
                    <td>{{ register.key_subject }}</td>
                    <td>{{ register.subject }}</td>
                    <td>{{ register.total_students }}</td>
                    <td>{{ register.failed_students }}</td>
                    <td>{{ register.failed_rate }}%</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}