{% extends 'base.html' %}

{% block title %}Historial{% endblock %}

{% block content %}
    <div>
        <h2>Datos de Estudiante</h2>
        <table>
            <thead>
                <th>Código</th>
                <th>Nombre</th>
                <th>Estatus</th>
                <th>Admisión</th>
                <th>Ultimo Ciclo</th>
                <th>Carrera</th>
                <th>Riesgo de caer en articulo</th>
            </thead>
            <tbody>
                <tr>
                    <td> {{ student.code }} </td>
                    <td> {{ student.name }} {{ student.first_last_name }} {{ student.second_last_name }} </td>
                    <td> {{ student.status.status }} </td>
                    <td> {{ student.admission_cycle }} </td>
                    <td> {{ student.last_cycle }} </td>
                    <td> {{ student.idCareer.name }} </td>
                    <td>Resultado IA: {{ prediction }} </td>
                <tr>
            </tbody>
        </table>
    </div>

    {% if False %}
    <div>
        <h2>En Articulo</h2>
    </div>
    {% endif %}

    <div>
        {{ len_list }}
        {{ len_cycles }}
        {% for cycle in cycles_list %}
        <br>
        <table>
            <thead>
                <th colspan="7">{{ cycle }}</th>
            </thead>
            <tbody>
                <tr>
                    <td>NRC</td>
                    <td>Clave</td>
                    <td>Nombre de la Materia</td>
                    <td>Calificación</td>
                    <td>Tipo</td>
                    <td>NC</td>
                    <td>Fecha</td>
                </tr>

                {% for course in courses %}
                    {% if course.school_cycle == cycle %}
                        <tr>
                            <td> {{ course.section.nrc }} </td>
                            <td> {{ course.section.subject.key_subject }} </td>
                            <td> {{ course.section.subject.name }} </td>
                            <td> {{ course.grade }} </td>
                            <td> {{ course.grade_period }} </td>
                            {% if course.grade > 59 %}
                                <td> {{ course.section.subject.credits }} </td>
                            {% else %}
                                <td> 0 </td>
                            {% endif %}
                            <td> {{ course.upload_date }} </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
{% endblock %}