.my-table-header {
    background-color: #7A959E !important;
}

.my-button-color {
    background-color: #424E5E !important;
    color: white !important;
}

.my-landing-container {
    height: 500px !important;
}

.my-landing-container:hover {
    background-color: #424e5e !important;
    color: white !important;
}

.my-container-config {
    width:450px !important;
}

.my-container-form-config {
    width:625px !important;
}